{% extends "base.html" %}

{% block content %}
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">WebSocket Chat</h1>
        <p class="h5" id="Username">{{Username}}</p>
      <form id="broadcast_form" method="post" action="/chat" onsubmit="broadcastMessage(event)">
          <input type="text" id="broadcast_messageText" name="broadcast_form_message"  autocomplete="off" value="Message for all clients"/>
          <button>Send</button>
      </form>
      <ul id='messages' style="list-style-type: none"></ul>
      <script>
            var ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.insertBefore(message, messages.childNodes[0]);
            };
            function broadcastMessage(event) {
                var username = document.getElementById('Username')
                var mes = document.getElementById("broadcast_messageText")
                mes.value = username.textContent +': '+ mes.value
                event.preventDefault()
                fetch(event.target.action, {
                    method:'POST',
                    body: new FormData(document.getElementById("broadcast_form"))
                })
                var input = document.getElementById("broadcast_messageText")
                input.value = ''
                return false
            }
      </script>
    </div>
  </div>

</main>
{% endblock %}