{% extends "base.html" %}

{% block content %}
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">WebSocket Chat</h1>
      <form id="echo_form" action="" onsubmit="sendMessage(event)">
          <label for="echo_form_message">Echo</label>
          <input type="text" id="echo_messageText" autocomplete="off" value="Echo message"/>
          <button>Send</button>
      </form>
      <form id="broadcast_form" method="post" action="/chat/broadcast" onsubmit="broadcastMessage(event)">
          <label for="broadcast_form_message">Broadcast</label>
          <input type="text" id="broadcast_messageText" name="broadcast_form_message"  autocomplete="off" value="Message for all clients"/>
          <button>Send</button>
      </form>
      <ul id='messages'></ul>
      <script>
            var ws = new WebSocket("ws://localhost:8000/ws");
            ws.onmessage = function(event) {
                var messages = document.getElementById('messages')
                var message = document.createElement('li')
                var content = document.createTextNode(event.data)
                message.appendChild(content)
                messages.appendChild(message)
            };
            function sendMessage(event) {
                event.preventDefault()
                var input = document.getElementById("echo_messageText")
                ws.send(input.value)
                input.value = ''
            };
            function broadcastMessage(event) {
                event.preventDefault()
                fetch(event.target.action, {
                    method:'POST',
                    body: new FormData(document.getElementById("broadcast_form"))
                })
                var input = document.getElementById("broadcast_messageText")
                input.value = ''
                return false
            }
      </script>
    </div>
  </div>

</main>
{% endblock %}